:root {
  --color-primary: #00203f;
  --color-secondary: #adefd1;
}

body {
  font-family: "Sriracha";
  font-size: 22px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  margin-bottom: 20px;
}

.main-banner {
  margin-top: 50px;
}

.para-image {
  width: 20%;
}

#form {
  padding: 20px;
  border: 1px solid white;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.design {
  margin: auto;
  width: fit-content;
  padding-bottom: 70px;
  display: flex;
}

.dot {
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-secondary);
  border-radius: 100px;
  background-color: var(--color-primary);
  margin: 2rem;
  animation: up 1.5s linear alternate-reverse infinite;
}

@keyframes up {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(100px);
  }
}

.heading-1 {
  margin-left: 40%;
  margin-right: 40%;
  padding: 10px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 10px;
}

#submit-btn {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.para {
  width: 50%;
  margin: auto;
  color: white;
}

@media only screen and (max-width: 600px) {
  #main-banner {
    width: 80%;
  }
  #form {
    width: 80%;
  }
  .heading-1 {
    margin-left: 20%;
    margin-right: 20%;
  }
  .para {
    width: 80%;
    margin: auto;
  }
  .para-image {
    width: 40%;
  }
}
